<html>
  <head>
    <meta charset="utft-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Confirm account</title>
  </head>

  <body>
    <h1>Confirm you account {{name}},</h1>

    <p>Obrigado por se cadastrar no nosso site, agora para confirmar a conta clique no botão</p>

    <a href={{url}} target="_blank">CONFIRMAR CONTA</a>
  </body>
</html>